<div>
      <div infiniteScroll
      [infiniteScrollDistance]="3"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false" 
      class="explore-container">
        <div *ngFor="let twit of twits">
         <app-twit (postDeleted)="onPostDeleted($event)" [tweet]="twit" [loggedUserId]="loggedUserId"></app-twit>
        </div>
      </div>
      <div *ngIf="loading">
        <app-spinner-load></app-spinner-load>
      </div>
      <app-error *ngIf="error"></app-error>
</div>

