<div class="post">
    <div class="post-header" (click)="goToProfile(post.user?.profileName)">
      <img *ngIf="post.user?.profilePicture" [src]="post.user?.profilePicture" alt="User Avatar" class="avatar" />
      <img *ngIf="!post.user?.profilePicture" src ="https://via.placeholder.com/150" alt="User Avatar" class="avatar" />
      <div class="user-info">
        <div class="username">{{ post.user?.profileName }}</div>
      </div>
    </div>
    <img *ngIf="post.image" [src]="post.image" alt="Post Image" class="post-image" />
    <img *ngIf="!post.image" src="https://via.placeholder.com/32" alt="Post Image" class="post-image" />
    
    <div class="post-actions">
      <button (click)="likePost(post)" class="action-btn">
          <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
          </mat-icon>
      </button>
      {{post.like}}
    <!--
      <button (click)="toggleComments(post)" class="action-btn">
        <i class="fa fa-comment"></i>
      </button>
    </div>
    <div class="post-likes">{{ post.likes }} likes</div>
    <div class="post-caption">
      <strong>{{ post.user.username }}</strong> {{ post.caption }}
    </div>
    <div class="post-comments" *ngIf="post.showComments">
      <div *ngFor="let comment of post.comments" class="comment">
        <strong>{{ comment.user }}</strong> {{ comment.text }}
      </div>
    -->
    </div>
    <!--
    <button *ngIf="post.comments.length > 0 && !post.showComments" (click)="toggleComments(post)" class="view-comments-btn">View Comments</button>
    -->
</div>
