<div class="post">
    <div class="post-header" (click)="goToProfile(post.user?.profileName)">
      <img *ngIf="post.user?.profilePicture" [src]="'data:image/*;base64,' + post.user?.profilePicture" alt="User Avatar" class="avatar" />
      <img *ngIf="!post.user?.profilePicture" src ="../../assets/user-profile.png" alt="User Avatar" class="avatar" />
      <div class="user-info">
        <div class="username">{{ post.user?.profileName }}</div>
      </div>
    </div>
    <img *ngIf="post.image" [src]="'data:image/*;base64,' + post.image" alt="Post Image" class="post-image" />
    <img *ngIf="!post.image" src="../../assets/post.png" alt="Post Image" class="post-image" />
    <div class="post-content">
      <p>{{ post.caption }}</p>
    </div>
    <div class="post-actions">
      <button (click)="likePost(post)" class="action-btn">
          <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
          </mat-icon>
      </button>
      <p>{{post.like}}</p>
      <button (click)="toggleComments()" class="action-btn">Comments</button>
      <button *ngIf="ownerIsLoggedUser()" (click)="deletePost()">Delete</button>
    </div>
    <app-spinner-load *ngIf="loadingDelete"></app-spinner-load>
</div>
