<div class="create-post-container mat-elevation-z8">
  <h2>Create a New Post</h2>
  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="file-input-container">
      <input type="file" (change)="onFileSelected($event)" #fileInput required/>
    </div>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Image Preview" />
    </div>
    <mat-form-field class="caption-field" appearance="fill">
      <mat-label>Caption</mat-label>
      <textarea matInput [(ngModel)]="caption" name="caption" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.form.valid">Post</button>
  </form>
</div>
