<div class="create-post-container mat-elevation-z8">
  <h2>Create a New Post</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="file-input-container">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" required />
    </div>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Image Preview" />
    </div>
    <mat-form-field class="caption-field" appearance="fill">
      <mat-label>Caption</mat-label>
      <textarea matInput formControlName="caption" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Post</button>
  </form>
  <app-spinner-load *ngIf="loading"></app-spinner-load>
  <div>
    <p style="text-align: center; margin:10px" *ngIf="completato">Post creato correttamente</p>
  </div>
</div>
<div *ngIf="error">
  <app-error></app-error>
</div>
