<div class="profile-container" *ngIf="!error && !loadingPage">
    <div class="profile-header">
      <img *ngIf="image" [src]="image" alt="User Avatar" class="profile-avatar" />
      <img *ngIf="!image"src ="https://via.placeholder.com/150" alt="User Avatar" class="avatar" >
      <div class="profile-info">
        <div class="profile-username">
          <h2>{{ username }}</h2>
          <button class="edit-profile-btn"  (click)="editProfile()" *ngIf="sameUser">Edit Profile</button>
          <button class="edit-profile-btn"  (click)="viewPost()" >Posts</button>
          <button class="edit-profile-btn"  (click)="viewTwit()" >Twits</button>
          <button class="edit-profile-btn"  (click)="followUser()" *ngIf="!sameUser && !seguiUtente">Follow</button>
        </div>
        <ul class="profile-stats">
          <li><strong>{{ postsCount }}</strong> posts</li>
          <li><strong>{{ followersCount }}</strong> followers</li>
          <li><strong>{{ followingCount }}</strong> following</li>
        </ul>
        <div class="profile-bio">
          <strong>{{ fullName }}</strong>
          <p>{{ bio }}</p>
        </div>
      </div>
    </div>
</div>
<app-spinner-load *ngIf="loadingPage || loadingOperation"></app-spinner-load>
<app-error *ngIf="error"></app-error>
  