<div class="search-container">
    <div class="search-box">
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        [(ngModel)]="query"
        (input)="onSearch()"
      />
    </div>
    <div 
    infiniteScroll 
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="10"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    class="results-box" *ngIf="users.length > 0">
        <ul class="results-list">
          <li *ngFor="let user of users" class="result-item" (click)="navigateToProfile(user.profileName)">
            <app-user-search-result [user]="user"></app-user-search-result>
          </li>
        </ul>
    </div>
    <app-spinner-load *ngIf="loading"></app-spinner-load>
    <div class="no-results" *ngIf="users.length === 0 && query">
      No results found.
    </div>
  </div>
