<div class="tweet">
      <div class="tweet-header" (click)="goToProfile(tweet.user?.profileName)">
        <img *ngIf="tweet.user?.profilePicture" [src]="'data:image/png;base64,' + tweet.user?.profilePicture" alt="User Avatar" class="avatar" />
        <img *ngIf="!tweet.user?.profilePicture" src ="https://via.placeholder.com/150" alt="User Avatar" class="avatar" />
        <div class="user-info">
          <div class="username">{{ tweet.user?.profileName }}</div>
        </div>
      </div>
      <div class="tweet-content">
        <p>{{ tweet.caption }}</p>
      </div>
      <div class="tweet-actions">
        <button (click)="likeTweet(tweet)" class="action-btn">
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </button>
        {{ tweet.like }}
        <button (click)="toggleComments()" class="action-btn">Comments</button>
        <button *ngIf="ownerIsLoggedUser()" (click)="deleteTwit()" class="action-btn">Delete Twit</button>
      </div>
</div>
  