<mat-drawer-container class="example-container">
      <mat-drawer  mode="side" opened>
        <div class="logo">Social Network</div>
        <ul class="nav-list">
          <li class="nav-item"><a [routerLink]="['/home/friend-post']" class="nav-link">Post of friend</a></li>
          <li class="nav-item"><a [routerLink]="['/home/friend-twit']" class="nav-link">Twit of friend</a></li>
          <li class="nav-item"><a [routerLink]="['/home/explore-post']" class="nav-link">Explore Post</a></li>
          <li class="nav-item"><a [routerLink]="['/home/explore-twit']" class="nav-link">Explore Twit</a></li>
          <li class="nav-item"><a [routerLink]="['/home/search']" class="nav-link">Search</a></li>
          <li class="nav-item"><a [routerLink]="['/home/create-post']" class="nav-link">Create Post</a></li>
          <li class="nav-item"><a [routerLink]="['/home/create-twit']" class="nav-link">Create Twit</a></li>
          <li class="nav-item"><a [routerLink]="['/home/chat']" class="nav-link">Chat</a></li>
          <li class="nav-item"><a class="nav-link" (click)="navigateToUsername()">Profile</a></li>
          <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </mat-drawer>
      <mat-drawer-content>
       <router-outlet></router-outlet>
      </mat-drawer-content>
</mat-drawer-container>
  